fastapi
uvicorn
celery[redis]
psycopg2-binary
python-dotenv
SQLAlchemy
pypdf
openai
requests
python-multipart
passlib[bcrypt]
python-jose[cryptography]
alembic
fitz
email-validator
passlib[bcrypt]
pwdlib[argon2]
PyJWT